<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav class="navbar  bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span class="text-warning">B</span><span class="text-info">L</span><span class="text-primary-emphasis">O</span><span class="text-success ">G</span>
    </a>
  </div>
</nav>
<br>
<br>
<!-- ------------- -->
 <div class="container">
<form style="width: 26rem;" method="post" action="/posts">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" name="name" />
    <label class="form-label" for="form4Example1">Name</label>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4" name="shayari"></textarea>
    <label class="form-label" for="form4Example3">Message</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>

</div>
<!-- ------------------------- -->

<br>
<br>
</body>
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Managed by
    <a class="text-body" href="#">Aniket Shrivastava</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>